body {
 margin:0;
 background:black;
 color:#00ffe5;
 font-family: monospace;
 overflow:hidden;
}

canvas {
 position:fixed;
 top:0;
 left:0;
}

.ui {
 position:fixed;
 top:10px;
 left:10px;
 padding:10px;
 border:1px solid #00ffe5;
 background:rgba(0,0,0,0.5);
}
